body {background-color: bisque;}
header{
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
    background-color: bisque;
    border: outset;
}
#mah {font-weight: bold;}
nav{
    display: flex;
    gap: 10px;
}
